
  .todo-item {
    background-color: #1d1d1d;
    color: white;
    display: flex;
    align-items: center;
    padding: 0px 16px;
    margin: 8px 0px;
    border-radius: 8px;
    transition: all ease-in-out 300ms;
  }
  .todo-title {
    width: 258px;
    word-break: break-all;
    margin-right: 16px;
  }
  .todo-options {
    width: min-content;
    margin: 12px 0px;
  }
  .todo-button {
    width: 100px;
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    margin: 8px 0px;
  }
  .checked {
    background-color: #606c61;
  }
  .checked .todo-title, .checked .todo-arrow {
    color: rgb(92, 224, 92);
  }