
  .todo-item {
    background-color: #1d1d1d;
    color: white;
    display: flex;
    align-items: center;
    padding: 0px 12px;
    margin: 8px 0px;
    border-radius: 8px;
    transition: all ease-in-out 300ms;
    /* max-height: 120px; */
    min-width: 400px;
    max-width: 400px;
  }
  .todo-text {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .todo-title {
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
    transition: all ease-in-out 300ms;
    margin: 0px;
  }
  .todo-options {
    width: min-content;
    margin: 12px 0px;
    display: flex;
  }
  .todo-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    margin: 0px 0px 0px 12px;
  }
  .checked {
    background-color: black;
  }
  .checked .todo-title {
   -webkit-text-decoration-line: line-through; /* Safari */
   text-decoration-line: line-through; 
  }
  .checked .todo-title, .checked .todo-arrow {
    color: #607c3c
  }
  .large-card {
    flex-direction: column;
  }
  .large-card .todo-text {
    margin-top: 12px;
  }
  .large-card .todo-options {
    width: 100%;
    margin-top: 12px;
    justify-content: end;
  }
  @media only screen and (max-width: 500px) {
    .todo-item {
      min-width: 0px;
    }
  }